.rankCont {
    width: 100%;
    padding-top: 2.5rem;
}

.rank .rankCont .hotHeader {
    /* width: 100%; */
    width: 7.5rem;
    height: 2.92rem;
    background: url(../img/rankBg.jpg) no-repeat;
    background-size: contain;
}

.rank .rankCont .hotHeader .headerBox {
    padding-left: 0.4rem;
    overflow: hidden;
}

.rank .bgIcon {
    background: url(../img/icon.png) no-repeat;
    background-size: 166px 97px;
}

.rank .rankCont .hotHeader .headerBox .hotIcon {
    width: 2.84rem;
    height: 1.34rem;
    background-position: -24px -30px;
    margin-top: 0.5rem;
}

.rank .rankCont .hotHeader .headerBox .date {
    color: #fff;
    margin-top: 10px;
}

.rank .rankCont .hotList ul li {
    /* padding-left: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rank .rankCont .hotList ul li .hotNum {
    width: 0.8rem;
    font-size: 17px;
    color: #999;
    text-align: center;
}

.rank .rankCont .hotList ul li .song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
    flex: 1;
}

.rank .rankCont .hotList ul li .song .sgchf {
    padding: 6px 0;
    width: 293px;
}

.rank .rankCont .hotList ul li .song .sgchf .songTitle {
    font-size: 17px;
    line-height: 25px;
    /* display: flex; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rank .rankCont .hotList ul li .song .sgchf .songTitle .sgalia {
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 4px;
    color: #888;
}

.rank .rankCont .hotList ul li .song .sgchf .songInfo {
    font-size: 12px;
    color: #888;
    line-height: 18px;
    display: flex;
    align-items: center;
}

.rank .rankCont .hotList ul li .song .sgchf .songInfo div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex:1;
}

.rank .rankCont .hotList ul li .song .sgchf .songInfo .sq {
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-right: 4px;
}

.rank .rankCont .hotList ul li .song .play {
    width: 22px;
    height: 22px;
    background-position: -24px 0;
    margin: 0 10px
}

.rank .rankCont .hotFoot {
    height: 1.10rem;
    line-height: 1.10rem;
    text-align: center;
}

.rank .rankCont .hotFoot span {
    font-size: 14px;
    color: #999;
    padding-right: 15px;
    background: url(../img//arr.svg) no-repeat right;
    background-size: 7px 12px;

}