.recommend{
    padding-top: 2.5rem;
}
.recommend .container{
    width: 100%;
    padding-top: 0.4rem;
    
}
.recommend .container .rem_title{
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 10px;
    font-size: 17px;
    position: relative;
    margin-bottom: 0.4rem;
}
.recommend .container .rem_title:after{
    content: '';
    width: 2px;
    height: 0.32rem;
    background-color: #d33a31;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
}
.recommend .container .rem_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recommend .container .rem_ul li{
    /* width: 124px; */
    width: 33%;
    margin-bottom: 0.32rem;
}
.recommend .container .rem_ul li .imgBox img{
    width: 100%;
}
.recommend .container .rem_ul li .imgBox{
    width: 100%;
    position: relative;
}
.recommend .container .rem_ul li .imgBox .count{
    color: #fff;
    font-size: 12px;
    padding-left: 0.3rem;
    position: absolute;
    right: 0.05rem;
    top: 0.05rem;
    background: url(../img//ej.svg) no-repeat;
}
.recommend .container .rem_ul li p{
    padding: 6px 2px 0 6px;
    font-size: 13px;
    overflow: hidden;
    max-height: 30px;
    font-size: 13px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.recommend .remd_newsg ul li{
    padding-left: 10px;
}
.recommend .remd_newsg ul li .song{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
}
.recommend .remd_newsg ul li .sgchf{
    padding: 6px 0;
    width: 323px;
}
.recommend .remd_newsg ul li .songTitle{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    line-height: 25px;
}
.recommend .remd_newsg ul li .songTitle .sgalia{
    font-size: 17px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 4px;
    color: #888;
}
.recommend .remd_newsg ul li .songInfo{
    font-size: 12px;
    color: #888;
    line-height: 18px;
}
.recommend .bgIcon{
    background: url(../img/icon.png) no-repeat;
    background-size: 166px 97px;
}
.recommend .remd_newsg ul li .songInfo .sq{
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-right: 4px;
}
.recommend .remd_newsg ul li .play{
    width: 22px;
    height: 22px;
    background-position: -24px 0;
    margin: 0 10px
}
.recommend .footer{
    height: 200px;
    background: url(../img//bg.png) no-repeat;
    background-size: contain;
    margin-top: 5px;
    text-align: center;
}
.recommend .footer .flogo{
    padding-top: 16.3%;
}.recommend .footer .flogo img{
    margin: 0 auto
}
.recommend .footer .open{
    line-height: 38px;
    border: 1px solid #d33a31;
    border-radius: 38px;
    font-size: 16px;
    color: #d33a31;
    margin: 15px 37px 5px;
}
.recommend .footer .copyright{
    color: #888;
    font-size: 12px;
    line-height: 16px;
    transform: scale(.75);
}